<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    This is the main page
    <p> User: <strong>{{data.username}}</strong> has logged in and authenticated. </p>
  </body>
</html>
